@model dynamic

@{
    ViewBag.Title = "title";
    
}
<script>

    var apiService = angular.module('apiService', []);

    apiService.controller('homeController', function ($scope, $http, $interval) {

        $scope.requests = [];

        $scope.load = function() {
            $http.get('./ServerStatusListener/getactiverequests')
                .success(function(data) {
                    $scope.requests = data;
                }).error(function(data, status, haders, config) {
                    console.log(data);
                });
        };


        $interval(function() {
            $scope.load();
        }, 3000);

    });
</script>

<div ng-controller="homeController">
    <table class="table table-bordered table-striped">
        <tr>
            <td>
                Url
            </td>
            <td>
                RequestDate
            </td>
        </tr>
        <tr ng-repeat="request in requests">
            <td>
                {{request.RequestUrl}}
            </td>
            
               <td>
                {{request.RequestDate}}
            </td>
        </tr>
    </table>

</div>

