<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomerTracker.ClientControllerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CustomerTracker.ClientControllerService.Properties.Settings>
            <setting name="TimerInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MachineCode" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="ApiAddressetGetApplicationServices" serializeAs="String">
                <value>http://localhost:51243/ServerStatusListener/GetApplicationServices</value>
            </setting>
            <setting name="ApiAddressPostServerCondition" serializeAs="String">
                <value>http://localhost:51243/ServerStatusListener/PostServerCondition</value>
            </setting>
            <setting name="CpuUsageAlarmLimit" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DiskUsageAlarmLimit" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="RamUsageAlarmLimit" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ServiceThreadCountAlarmLimit" serializeAs="String">
                <value>150</value>
            </setting>
        </CustomerTracker.ClientControllerService.Properties.Settings>
    </userSettings>
</configuration>
