<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomerTracker.ClientControllerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\CustomerTrackerLogs\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <CustomerTracker.ClientControllerService.Properties.Settings>
            <setting name="TimerInMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MachineCode" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="ServiceNamesApiAddress" serializeAs="String">
                <value>http://demo.ankaref.com/testapi/api/serverstatuslistener</value>
            </setting>
            <setting name="StateReceiverApiAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="CpuUsageAlarmLimit" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DiskUsageAlarmLimit" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="RamUsageAlarmLimit" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ServiceThreadCountAlarmLimit" serializeAs="String">
                <value>150</value>
            </setting>
        </CustomerTracker.ClientControllerService.Properties.Settings>
    </userSettings>
</configuration>
