<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="C:\AnkarefLogs\CustomerTracker.ClientControllerService\${shortdate}.txt"/>


  <targets>

    <target name="logfile2" xsi:type="File" fileName="${logDirectory}">
      <layout xsi:type="SimpleLayout" text="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*"  minlevel="Debug" maxlevel="Fatal" writeTo="logfile2" />
  </rules>
</nlog>