<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="C:\AnkarefLogs\CustomTracker\${shortdate}.txt"/>


  <!--cc="alice@example.com;bob@example.com;charlie@example.com"-->


  <targets>
    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="ankarefttk"
            smtpPassword="adew32*-"
            enableSsl="true"
            from="ankarefttk@gmail.com"
            to="syhnbkr@gmail.com"
            
          />
    <target name="logfile2" xsi:type="File" fileName="${logDirectory}">
      <layout xsi:type="SimpleLayout" text="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="gmail" />
    <logger name="*"  minlevel="Debug" maxlevel="Fatal" writeTo="logfile2" />
  </rules>

 
</nlog>