 

<div class="logos-bar">
    <div class="container">
        <ul class="logos">
            <li><a href="#">
                <img src="~/Content/images/175x75.gif" tppabs="http://placehold.it/175x75" alt="" /></a></li>
            <li><a href="#">
                <img src="~/Content/images/175x75.gif" tppabs="http://placehold.it/175x75" alt="" /></a></li>
            <li><a href="#">
                <img src="~/Content/images/175x75.gif" tppabs="http://placehold.it/175x75" alt="" /></a></li>
            <li><a href="#">
                <img src="~/Content/images/175x75.gif" tppabs="http://placehold.it/175x75" alt="" /></a></li>
            <li><a href="#">
                <img src="~/Content/images/175x75.gif" tppabs="http://placehold.it/175x75" alt="" /></a></li>
        </ul>
    </div>
    <!--/container-->
</div>