@using CustomerTracker.Web.Utilities
@{
    Layout = null;
}



@if (Request.IsAuthenticated)
{
    <li><a href="#">Merhaba , @ConfigurationHelper.CurrentUser.UserName</a></li>
    <li><a id="btnLogout" href="@Url.Action("LogOff", "Account")" >Çıkış</a></li>
}
else
{
    <li>@Html.ActionLink("Kayıt Ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Giriş", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li> 
}
