@using CustomerTracker.Web.Utilities
@{
    Layout = null;
}
<div class="navbar navbar-static-top">


    <div class="navbar-inner" style="background: #00A8ED">
        <div class="container">
            <!-- Phone navbar button -->
            <img src="~/content/images/logo.png" width="150px" height="100px" />
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <a class="brand" href="#">Hızlı Adım <span>Proje	</span></a>
            <!-- Phone navigation -->
            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages
					<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="about.html">About</a></li>
                            <li><a href="features.html">Features</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="blog-post.html">Blog Inner</a>
                            <li><a href="portfolio-inner.html">Portfolio Inner</a>
                            <li><a href="404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>





                </ul>
            </div>
            <!--/nav-collapse-->
        </div>
        <!--/container-->
    </div>
    <!--/navbar-inner-->
</div>
@*<div class="navbar">
    <div class="navbar-inner">
        <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">Sb</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "LandingPage")</li>
                          <li>@Html.ActionLink("İletişim", "Index", "Contact")</li>
                </ul>
                <form action="#" class="navbar-search pull-left">
                    <input type="text" name="q" class="search-query" placeholder="Arama yapınız...">
                </form>

                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>

                    @Html.Partial("_LoginPartial")
                     
                </ul>
            </div>
        </div>
    </div>
</div>*@
