@{
    ViewBag.Title = "Server Durumu";
}
<style>
    .red {
        color: red;
    }

    .green {
        color: green;
    }
</style>

<script src="~/Scripts/domain/remoteMachine/remoteMachineFactory.js"></script>
<script src="~/Scripts/domain/remoteMachine/remoteMachineMonitoringController.js"></script>
<div    ng-controller="remoteMachineMonitoringController">
    <div class="row">
        <input />
        <hr />
    </div>
    <div class="row">
        <ul class="  list-unstyled" ng-repeat="remoteMachineState in remoteMachineStates">
            <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                    <div class="text-center">
                        <strong>{{remoteMachineState.Customer.Name}}</strong>

                    </div>
                    <hr />
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <strong>Bilgisayar Durumu</strong>
                            <ul ng-repeat="machineStatus in  remoteMachineState.MachineCondition.MachineStatusList">
                                <li ng-class="{true : 'red' ,false :'green'}[machineStatus.IsAlarm]">{{machineStatus.Name}}/{{machineStatus.Data}}</li>
                            </ul>
                        </div>
                         <div class="col-lg-6">
                            Tarih<br/><p>{{remoteMachineState.MachineCondition.LogDate}}</p>
                            Ad<br/><p>{{remoteMachineState.DecryptedName}}</p>
                            Code<br/><p>{{remoteMachineState.MachineCode}}</p>
                            Address<br/><p>{{remoteMachineState.DecryptedRemoteAddress}}</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: left" >
                        <table class="table table-bordered">
                            <tr>
                                <td>Service 
                                </td>
                                <td>Thrd
                                </td>
                                <td>State
                                </td>
                                <td>İs Exist
                                </td>
                            </tr>
                            <tr  ng-repeat="serviceStatus in remoteMachineState.MachineCondition.ServiceStatusList" ng-class="{true : 'red' ,false :'green'}[serviceStatus.IsAlarm]">
                                <td><input ng-model="serviceStatus.TargetService.InstanceName" readonly=""/></td> 
                                <td>{{serviceStatus.NumberOfThreads}}</td>
                                <td>{{serviceStatus.State}}</td>
                                <td>{{serviceStatus.DoesExist==true ? 'Yes' : No}}</td>
                                @*{true : 'glyphicon glyphicon-ok' ,false :'glyphicon glyphicon-off'}[serviceStatus.DoesExist]*@
                            </tr>
                        </table> 
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
