@model IPagedList<CustomerTracker.Web.Business.SearchBusiness.SearchResultModel>

@{
    ViewBag.Title = "title"; 
}
<style>
    .sel {
        background-color: #3982C1;
    }
</style>
<div id="divMain" ng-controller="searchController">

    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4 pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span>{{activeSearchType.Value}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (KeyValuePair<int, string> item in ViewBag.SearchTypes)
                            {
                                <li><a href="#" ng-click="setSearchType(@item.Key,'@item.Value')">@item.Value</a></li>    
                            }


                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-11">
                        <input class="form-control" style="width: 100%" ng-model="searchCriteria" required id="searchInput" />
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-default" ng-click="searchClicked()" ng-disabled="!searchCriteria.length">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row col-lg-10">
                <div class="list-group" ng-repeat="result in searchResults" ng-if="result.SearchTypeId=='1'">
                    <a href="#" ng-click="loadCustomerDetail(result,$index)" class="list-group-item" ng-class="{sel: $index == selectedResultIndex}">
                        <h4 class="list-group-item-heading">{{result.Title}}</h4>
                        <p class="list-group-item-text">{{result.Summary}}</p>
                    </a>
                </div>
                <div class="list-group" ng-repeat="result in searchResults" ng-if="result.SearchTypeId=='2'" ng-class="{sel: $index == selectedResultIndex}">
                    <span class="name">{{result.Title}}</span><br />
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>
                            <tr>
                                <td>Görev</td>
                                <td>{{result.Summary}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="#" ng-click="loadCustomerDetail(result,$index)">Müşteri'ye git</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-7" data-ng-show="selectedCustomer!=null">
            @{Html.RenderPartial("_CustomerDetail");}
        </div>
    </div> 
</div>



<script>


    $(document).keypress(function (e) {

        $("#searchInput").focus();

        if (e.which == 13) {
            var scope = angular.element(document.getElementById("divMain")).scope();

            scope.searchClicked();
        }
    });

</script>
