<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CustomerTracker.ClientControllerTestConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CustomerTracker.ClientControllerTestConsole.Properties.Settings>
      <setting name="TimerInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MachineCode" serializeAs="String">
        <value>C234R13T38</value>
      </setting>
      <setting name="ApiAddressetGetApplicationServices" serializeAs="String">
          <!--<value>http://localhost:61086/ctapiservice/ServerStatusListener/GetApplicationServices</value>-->
      <value>http://172.16.5.81/ctapiservice/ServerStatusListener/GetApplicationServices</value>
      </setting>
      <setting name="ApiAddressPostServerCondition" serializeAs="String">
        <!-- <value>http://localhost:61086/ctapiservice/ServerStatusListener/PostServerCondition</value>-->
       <value>http://172.16.5.81/ctapiservice/ServerStatusListener/PostServerCondition</value>
      </setting>
      <setting name="CpuUsageAlarmLimit" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DiskUsageAlarmLimit" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="RamUsageAlarmLimit" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="ServiceThreadCountAlarmLimit" serializeAs="String">
        <value>150</value>
      </setting>
    </CustomerTracker.ClientControllerTestConsole.Properties.Settings>
  </userSettings>
</configuration>